.container{
    width: 75%;
    margin: 0 auto;
}

.header{
    margin-top: 25px;
    text-align: center;
    font-size: 30px;
}
.grid{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 78px;
    row-gap: 69px;
}

.test a img{
    border-radius: 15px;
}

@media (max-width: 600px) {
    .grid{
        grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 420px) {
    .grid{
        grid-template-columns: repeat(1, 1fr);
    }
  }

